
@{
    ViewBag.Title = "DescompresionArchivos";
}

<h2>Descompresion</h2>

@model Laboratorio1_ED2.Models.SubirArchivoModel
@{
    ViewBag.Title = "DescompresionArchivo";
}

<h2>Carga</h2>

<h2 class="text-danger">@ViewBag.Error</h2>
<h2 class="text-success">@ViewBag.Correcto</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Subir</button>
</form>


